.form-input {
    border: 1px solid #D7D7D7;
}

.login-btn {
    color: white;
    background: #FF9933;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.login-btn:hover {
    background: #E58A2E;
    text-decoration: none;
    cursor: pointer;
}

.register-btn {
    color: #FF9933;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
}